@media all and (orientation: portrait){
    header{
        font-size: 10vw; 
        background-image: url(assets/bg-landing-4.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
    }
    h1{
        font-size: 2vw;
    }
    h1 span{
        font-size: 8vw;
    }
    #intro{
        background-image: url(assets/bg-landing-2.png), url(assets/bg-landing-3.png);
        background-position: right top, right bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
    }
    #intro-text, #intro-book{
        font-size: 10vw;
    }
    #intro-logo{
        font-size: 11vw;
    }
    #intro-logo span{
        font-size: 5vw;
    }
}
@media all and (orientation: landscape){
    header{
        font-size: 10vh;
        background-image: url(assets/bg-landing-4.png), url(assets/bg-landing-3.png);
        background-position: bottom center, bottom right 20%;
        background-repeat: no-repeat,no-repeat;
        background-size: contain, contain;
    }
    h1{
        font-size: 2vh;
    }
    h1 span{
        font-size: 8vh;
    }
    #intro{
        background-image: url(assets/bg-landing-2.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #intro-text, #intro-book{
        font-size: 9vh;
    }
    #intro-logo{
        font-size: 11vh;
    }
    #intro-logo span{
        font-size: 5vh;
    }
}

@media all and (min-width: 768px) {
    .hamburger .bar{
        display: block;
        width: 40px;
        height: 5px;
        margin: 5px 0; 
        transition: .5s all;
        background-color: #fff;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    } 
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    #intro-text, #intro-book{
        font-size: 6vh;
    }
}

@media all and (min-width: 1024px){
    #landing{ padding: 0; }
    header{
        background-image: none;
    }
    h1, .hamburger{ display: none;}    
    #logo-item{ 
        display: inline-block;
        font-size: 1vw; 
        text-align: center;
        font-family: 'Atma', cursive;
    }
    #logo-item span{
        display: block;
        font-size: 2.5vw;
    }
    #main-nav{
        position: relative;
        top: 0;
        left: 0;
        transition: none;
        z-index: 0;
        width: 100%;
        height: auto;
        padding: 2rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        background-color: #595857;
        font-size: 2vw;
    }
    #intro{
        background-image: url(assets/bg-landing-5.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 50%;
        text-align: right;
    }
    #intro p{
        padding-right: 5rem;
    }
    #intro-text, #intro-book{
        font-size: 5vh;
    }
    #intro-logo{
        font-size: 7vh;
    }
    #intro-logo span{
        font-size: 2vh;
    }
    #intro-book{
        background-image: url(assets/bg-landing-6.png);
    }
}