*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    color: #fff;
    font-family: 'Chivo', sans-serif;
} 
#landing{ 
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    padding: 1rem;
    background-image: url(assets/bg-landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/** HEADER **/ 
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
h1{
    text-align: center; 
}
h1 span{ 
    display: block;
    font-family: 'Atma', cursive;
}
.hamburger{ 
    position: relative;
    z-index: 10; 
}
.hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0; 
    transition: .5s all;
    background-color: #fff;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
#main-nav{
    position: fixed;
    top: 0;
    left: -100%;
    transition: .5s all;
    z-index: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-color: #595857;
}
#main-nav.active{
    left: 0;
} 
#logo-item{ display: none;}
/** INTRO **/
#intro{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
#intro-text a{ display: block; color: #ffc901; } 
#intro-logo span{ display: block; }
#intro-book a{ color: #ffc901; }



#freepik{
    position: fixed;
    bottom: 2px;
    right: 2px;
}
/**
font-family: 'Atma', cursive;
font-family: 'Chivo', sans-serif;
font-family: 'Overpass', sans-serif;
**/